:root {
  --bg-color: radial-gradient(circle at top right, rgb(9,23,119) 0%, rgb(9,23,119) 48%,rgb(7,28,149) 48%, rgb(7,28,149) 53%,rgb(5,35,178) 53%, rgb(5,35,178) 56%,rgb(2,42,208) 56%, rgb(2,42,208) 69%,rgb(0,51,237) 69%, rgb(0,51,237) 100%);;
  --main-color: #00abf0;
  --text-color: #333;
  --second-text-color: #555;
  --white-color: #fff;
  --cover-color: linear-gradient(45deg, #00abf0, #006e9a);
  --pages-color: linear-gradient(90deg, #fff, #ddd);
  --border: .125rem solid #00abf0;
  --box-shadow: 0 0 .6rem rgba(0,0,0,.2);
}


* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  text-decoration: none;
  border: none;
  outline: none;
}

html,
body {
  max-width: 100vw;
  overflow: hidden;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: var(--bg-color);
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
