.blur{
  display: none;
}

.rotate-device {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  z-index: 1000;
  font-size: clamp(1rem, 3vw, 2rem);  
  font-weight: 600;
  text-align: center;
  padding: 2rem;

}

.wrapper{
  position: relative;
  width: 66rem;
  height: 45rem;
  padding: 2rem;
  perspective: 250rem;
  animation: show-animate 2s forwards;
  transition: all 1s ease;
}

@keyframes  show-animate {
  0%, 30%{
    opacity: 0;
    transform: rotate(-20deg);
  }
  100%{
    opacity: 1;
    transform: rotate(0%);
  }
}

.cover{ 
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
  background: var(--cover-color);
  box-shadow: var(--box-shadow);
  border-top-left-radius: .6rem;
  border-bottom-left-radius: .6rem;
  transform-origin: right;
}

.cover.cover-left {
  z-index: -1;
}

.cover.cover-right {
  z-index: 100;
  transition: transform 1s cubic-bezier(.645, .045, .355, 1);

}

.cover.cover-right.turn{
  transform: rotateY(180deg); 
}

.book{
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  perspective: 250rem;
}

.book .book-page{ 
  position: absolute;
  width: 50%;
  height: 100%;
  background: var(--pages-color);
  box-shadow: 0 0 .6rem rgba(0,0,0,.1);
  display: flex;
  padding: 2rem;
}

.book-page.page-right{
  position: absolute;
  right: 0;
  transform-style: preserve-3d;
  transform-origin: left;
  transition: transform 1s cubic-bezier(.645, .045, .355, 1);
}

.book-page.page-right.turn{
  transform: rotateY(-180deg); 
  
}

.book-page .page-front,
.book-page .page-back{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--pages-color);
  padding: 1.5rem 2rem; 
}

.book-page .page-front{
  transform: rotateY(0deg) translateZ(1px); 
}

.book-page .page-back{
  transform: rotateY(180deg) translateZ(1px); 
}
.number-page{
  position: absolute;
  bottom: 1.2rem;
  left: 50%;
  transform: translate(-50%, 0);

}

.nextprev-btn {
  position: absolute;
  bottom:  .9rem;
  right: 1.5rem;
  width: 2rem;
  height: 2rem;
  cursor: pointer;
  font-size: 1rem;
  color: var(--second-text-color);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  transition: .5s;
}

.nextprev-btn:hover{
  color: var(--main-color);
}
.nextprev-btn.back{
  left: 1.5rem;
  /* right: auto; */
}

@media screen and (max-width: 1180px), (max-height: 750px){

  .wrapper{
    position: relative;
    /* width: 100vw;
    height: 100vh; */
    padding: 0.5rem;
    perspective: 250rem;
    animation: show-animate 2s forwards;
  }

  .cover{ 
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    background: var(--cover-color);
    box-shadow: var(--box-shadow);
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    transform-origin: right;
  }

  .book .book-page{ 
    position: absolute;
    width: 50%;
    height: 100%;
    background: var(--pages-color);
    box-shadow: 0 0 .6rem rgba(0,0,0,.1);
    display: flex;
    padding: 2rem;
  }

}
